{% extends "base.html" %}
{% block content %}
{% load static %}
<style>
  .post-grid {
    display: flex;
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
    justify-content: space-between; /* Пробел между элементами */
}

.media {
    min-height: 300px; /* Установите минимальную высоту карточек */
    flex: 0 0 30%; /* Каждая карточка занимает примерно 30% ширины родительского контейнера */
    margin-bottom: 20px; /* Отступ между карточками */
    border: 1px solid #ccc; /* Обводка для карточек */
    border-radius: 5px; /* Закругленные углы */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Легкая тень для эффекта */
    transition: transform 0.3s; /* Анимация для увеличения */
}

.media:hover {
    transform: scale(1.05); /* Увеличение при наведении */
}

</style>

<div class="post-grid">
  {% for post in posts %}
      <article class="media content-section">
          <img class="rounded-circle article-img" src="{% if post.author.profile.image %}{{ post.author.profile.image.url }}{% else %}{% static 'media/default.jpg' %}{% endif %}" alt="Изображение автора">
          <div class="media-body">
              <div class="article-metadata">
                  <small class="text-muted">{{ post.date|date:"F d, Y" }}</small>
              </div>
              <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
              <p class="article-content">{{ post.content }}</p>
              <p class="article-content">{{ post.category }}</p>
          </div>
      </article>
  {% endfor %}
</div>
    <div class="pagination justify-content-center"> 
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        
        <a class="btn btn-outline-info mb-4 mr-1" href="?page=1">Первая</a>
        <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4 mr-1" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ page_obj.next_page_number }}">Следующая</a>
        <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
      {% endif %}

    {% endif %}
  </div>
{% endblock content %}